.container {
    max-width: 60%;
    margin: 0 auto; 
}

.column-section {
    column-count: 6;
    list-style: none;
}

.clearLink {
    text-decoration: none;
    color: black;
}

a {
    text-decoration: none;
}