<div class="container">
  <h1>Index</h1>
  <hr>
  <h2>Apple Park</h2>
  <ul class="column-section" >
    <li *ngFor="let build of buildingsArray | display:'Apple Park':'buildingzone'">
      <a [href]="build.black === 0 ? BRLink : '#'" [ngClass]="{'clearLink': build.black === 1}">{{build.buildingname}}</a>
    </li>
  </ul>
  <hr>
  <h2>Bubb/Results Way</h2>
  <ul class="column-section" >
    <li *ngFor="let build of buildingsArray | display:'Bubb / Results Way':'buildingzone'">
      <a [href]="build.black === 0 ? BRLink : '#'" [ngClass]="{'clearLink': build.black === 1}">{{build.buildingname}}</a>
    </li>
  </ul>
  <hr>
  <h2>Infinite Loop</h2>
  <ul class="column-section" >
    <li *ngFor="let build of buildingsArray | display:'Infinite Loop':'buildingzone'">
      <a [href]="build.black === 0 ? BRLink : '#'" [ngClass]="{'clearLink': build.black === 1}">{{build.buildingname}}</a>
    </li>
  </ul>
  <hr>
  <h2>Santa Clara/San Jose</h2>
  <ul class="column-section" >
    <li *ngFor="let build of buildingsArray | display:'Santa Clara/San Jose':'buildingzone'">
      <a [href]="build.black === 0 ? BRLink : '#'" [ngClass]="{'clearLink': build.black === 1}">{{build.buildingname}}</a>
    </li>
  </ul>
  <hr>
  <h2>Sunnyvale East</h2>
  <ul class="column-section" >
    <li *ngFor="let build of buildingsArray | display:'Sunnyvale East':'buildingzone'">
      <a [href]="build.black === 0 ? BRLink : '#'" [ngClass]="{'clearLink': build.black === 1}">{{build.buildingname}}</a>
    </li>
  </ul>
  <hr>
  <h2>Sunnyvale West</h2>
  <ul class="column-section" >
    <li *ngFor="let build of buildingsArray | display:'Sunnyvale West':'buildingzone'">
      <a [href]="build.black === 0 ? BRLink : '#'" [ngClass]="{'clearLink': build.black === 1}">{{build.buildingname}}</a>
    </li>
  </ul>
  <hr>
  <h2>Other Bay Area</h2>
  <ul class="column-section" >
    <li *ngFor="let build of buildingsArray | display:'Other Bay Area':'buildingzone'">
      <a [href]="build.black === 0 ? BRLink : '#'" [ngClass]="{'clearLink': build.black === 1}">{{build.buildingname}}</a>
    </li>
  </ul>
</div>


